*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Afacad Flux'
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

.picture {
    display: flex;
    justify-content: flex-start; 
    flex: 1; 
}

nav {
    display: flex;
    flex: 1; 
    justify-content: flex-start; 
    gap: 20px; 
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; 
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: blue;
    align-items: center;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1{
    color: blue;
    padding: 0;
    margin: 0;
    font-size: 50px;

}

 .no-color{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.no-color:hover{
    text-decoration: underline;
}

.name{
    font-size: 30px;
}